@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
#barraEnviar,
.flex-end {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 900px !important;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .col-sm-4 {
    width: 50% !important;
  }
}

/*.form-select{
	width: 25% !important;
}*/
.font-weight-bold {
  font-weight: 900;
}

.font-weight-medium {
  font-weight: 600;
}

.btn-md {
  width: 110px;
}

.min-height {
  height: 90px;
}

.light-gray {
  background-color: #f3f4f5 !important;
}

.delete {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.modify {
  display: none;
  position: absolute;
  right: 35px;
  top: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url(../media/pencil.png);
}

.saltoLinea {
  display: block;
}

h1{
	margin-bottom: 7px;
}

*.card-header {
	color: #212529;
}

/*Modo noche*/
* {
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
	transition: background 0.2s linear;
}

body.dark {
	background: #292C35;
	color: white;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

.iconoCart{
	text-align: center;
}
.fa-shopping-cart{
	font-size: 30px;
	
}

.botonSinEstilo{
	border: none;
	background-color: white;
	position: relative;
	right: -10px;
}